@import "tailwindcss";

$dark-bg: #0a0a0a;
$light-bg: #ffffff;
$dark-text: #171717;
$light-text: #ededed;
$purple-primary: #9333ea;
$purple-light: #a67bff;
$purple-medium: #7c4dff;
$purple-dark: #7e57c2;

:root {
  --background: #{$light-bg};
  --foreground: #{$dark-text};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$dark-bg};
    --foreground: #{$light-text};
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}

h1 {
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.015em;
  margin: 0;
  padding: 0;
  font-family: var(--font-dm-sans);
  
  span {
    color: var(--white);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-font {
  font-family: var(--font-dm-sans);
  background: linear-gradient(to right, $purple-light, $purple-medium, $purple-dark, $purple-light);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .025em;
  animation: gradientShift 8s ease infinite;
}

.links-text {
  font-family: var(--font-outfit);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .main-text {
    text-align: center;
  }
}

.iamtitle {
  display: inline-block;
  width: 100%;
  margin: 0;
  transform-style: preserve-3d;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: clamp(3rem, 6vw + 1.2rem, 12rem);
  line-height: 1;
  max-height: min-content;
  
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }
  
  @media (max-width: 480px) {
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-all;
  }
  
  @media (max-width: 360px) {
    font-size: 2.7rem;
  }
}

footer {
  backdrop-filter: blur(1px);
}